- user = @new_user || @user
= form_for user do |f|
  -if user.errors.any?
    #error_explanation
      %h2= "#{pluralize(user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :mail
      %td= f.text_field :mail
    %tr
      %td= f.label :summary
      %td= f.text_field :summary
    - if action_name == 'edit'
      %tr
        %td= f.label :url
        %td= f.text_field :url
      %tr
        %td= f.label :categorys_text
        %td= f.text_area :categorys_text, :size => '20x8'
      ==<!--
      %tr
        %td= f.label :description
        %td= f.text_area :description
      ==-->
  .actions
    = f.submit 'Save'
