= form_for @result do |f|
  -if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |msg|
          %li= msg
  - is_new = action_name == 'new'
  - if is_new
    = f.hidden_field :category
  %table
    - unless is_new
      %tr
        %td= f.label :category
        %td= f.select :category, @user.categorys
    %tr
      %td= f.label :date
      %td= f.date_select :date
    %tr
      %td= f.label :team
      %td= f.select :team, @user.teams(@result.category)
    %tr
      %td= f.label :score
      %td= f.select :score, 0..20
    %tr
      %td= f.label :opp_score
      %td= f.select :opp_score, 0..20
    %tr
      %td= f.label :opp
      %td= f.text_field :opp
    %tr
      %td= f.label :competition
      %td= f.text_field :competition
    %tr
      %td= f.label :place
      %td= f.text_field :place
    %tr
      %td= f.label :note
      %td= f.text_area :note, :size => '40x4'
  .actions
    = f.submit 'Save'
