= form_for @result do |f|
  -if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :team
    = f.text_field :team
  .field
    = f.label :opp
    = f.text_field :opp
  .field
    = f.label :score
    = f.number_field :score
  .field
    = f.label :opp_score
    = f.number_field :opp_score
  .field
    = f.label :competition
    = f.text_field :competition
  .field
    = f.label :place
    = f.text_field :place
  .field
    = f.label :note
    = f.text_field :note
  .actions
    = f.submit 'Save'
