- is_editing = controller_name == 'results'

%p
  カテゴリ選択:
  - @categorys.each do |category|
    = link_to category, request.path_info + "?category=#{category}"

- if is_editing
  %p= link_to "#{@category}の結果を追加", new_result_path

%table.results
  %tr
    %th=t 'result.category'
    %th=t 'result.date'
    %th=t 'result.team'
    %th=t 'result.score'
    %th=t 'result.opp'
    %th=t 'result.competition'
    %th=t 'result.place'
    %th=t 'result.note'
    - if is_editing
      %th
      %th

  - @results.each do |result|
    %tr
      %td.center.nowrap= result.category
      %td.center.nowrap= result.date
      %td.center.nowrap= result.team
      %td.center.nowrap
        = result.score
        = '-'
        = result.opp_score
      %td= result.opp
      %td= result.competition
      %td= result.place
      %td= result.note
      - if is_editing
        %td.nowrap= link_to '編集', edit_result_path(result)
        %td.nowrap= link_to '削除', result, :confirm => 'Are you sure?', :method => :delete

