!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title== 試合きろく#{@subtitle}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  %body
    = yield

  #footer
    %hr
    - if @user
      .right
        = link_to "ログインしています: #{@user.name}", login_url

    =link_to '試合きろく', '/'
