!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title== Bu#{@subtitle}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  %body
    - if @user
      .right
        = link_to @user.name, users_path
        |
        = link_to '試合結果を編集', results_path
        |
        ==<!--
        = link_to 'ユーザーを編集', edit_user_path(@user)
        |
        ==-->
        = link_to "ログアウト", users_path + '/logout'

    = yield
